@use '../utils';

%public-form-title {
    font-size: utils.hem(1.6);
    font-weight: 700;
    line-height: 1;
    color: var(--leedu-form-title-color);
}
:root{
    &:has(.safari-patch){
        height: 100%;
    }
}
body {
    &:has(.c-public-form) {
        margin: 0 !important;
    }
    &:has(.safari-patch){
    height: 100%;
        #app{
            height: 100%;
            display: flex;
            flex-flow: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            background-color: var(--leedu-form-bg);
        }
    }
}
.c-public-form {
    font-family: var(--leedu-form-font-family, 'sans-serif');
    .public-form {
        &__wrapper {
            background-color: var(--leedu-form-bg);
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            gap: utils.hem(1.9);
            padding: utils.hem(2.4) utils.hem(2.7);
            container-type: inline-size;
            @container (min-width: 700px) {
                .public-form__main-fields {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
        &__title {
            @extend %public-form-title;
        }
        &__main-fields,
        &__events,
        &__acceptances {
            display: grid;
            grid-template-columns: minmax(0, 1fr);
        }
        &__main-fields {
            gap: utils.hem(1.2);
        }
        &__events {
            gap: utils.hem(1.5);
            &__title {
                @extend %public-form-title;
            }
            &__error {
                font-size: utils.hem(1.3);
                color: utils.getColor('error-500');
            }
        }
        &__acceptances {
            gap: utils.hem(0.9);
        }
        &__submit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: utils.hem(4.2);
            padding: utils.hem(0.9) utils.hem(1.9);
            font-size: utils.hem(1.3);
            font-weight: 700;
            color: var(--leedu-form-btn-text-color);
            background-color: var(--leedu-form-btn-color);
            border-radius: var(--leedu-form-btn-border-radius);
            text-transform: uppercase;
            line-height: 1;
            text-decoration: none;
            &[disabled] {
                cursor: not-allowed;
            }
        }
        &__failure {
            font-size: utils.hem(1.4);
            // font-weight: 700;
            line-height: 1;
            text-align: center;
            color: utils.getColor('error-500');
        }
        &__checkbox-group {
            display: flex;
            flex-flow: column nowrap;
            gap: utils.hem(1);

            &__title {
                color: var(--leedu-form-label-color);
                font-size: utils.hem(1.4);
                font-weight: 700;
                line-height: 1;
                text-transform: uppercase;
            }
        }

        &__acceptances {
            .pub-form-check__label {
                &,
                * {
                    font-size: utils.hem(1);
                }
            }
        }

        &__generic-feedbacks{
            font-size: utils.hem(1.4);
            text-align: center;
            .error-feedback{
                color: utils.getColor('error-500');
            }
        }
    }
}
